---
import type { GetImageResult } from "astro";
import { Image, getImage } from "astro:assets";

const {
  project: { data, slug, collection },
} = Astro.props;
const { title, description, cardBgLandscape, cardBgPortrait, order } = data;

const isEven = order % 2 === 0;

const imgDesktop = await getImage({
  src: cardBgLandscape,
  format: "webp",
  widths: [750, 1024, 1440, 1920, 2048, 2880, 3840],
});

const imgPortrait = await getImage({
  src: cardBgPortrait,
  format: "webp",
  widths: [360, 576, 768, 1152, 1536],
});

const getSrcSet = (image: GetImageResult) => {
  return image.srcSet.values
    .map(({ url, descriptor }) => {
      return `${url} ${descriptor}`;
    })
    .join(", ");
};
---

<article class="project-card">
  <figure>
    <picture>
      <source
        media="(min-width: 768px) and (orientation: landscape)"
        srcset={getSrcSet(imgDesktop)}
        sizes="(-webkit-min-device-pixel-ratio: 2.5) 66vw, (min-resolution: 2.5dppx) 66vw, 100vw"
      />
      <source
        media="(max-width: 767px) and (orientation: portrait)"
        srcset={getSrcSet(imgPortrait)}
        sizes="(-webkit-min-device-pixel-ratio: 2.5) 66vw, (min-resolution: 2.5dppx) 66vw, 100vw"
      />
      <img src={imgDesktop.src} alt="" class="project-card__background-image" />
    </picture>
  </figure>
  <header
    class:list={[
      "project-card__header",
      isEven && "project-card__header--right",
    ]}
  >
    <h3 class="font-t6">Work / {title}</h3>
    <p class="font-t2" set:html={description} />
    <a class="anchor" href=`/${collection}/${slug}`>Read more &rarr;</a>
  </header>
</article>

<style>
  .project-card {
    min-height: var(--svh-100);
    padding-inline: var(--container-padding-inline);
    position: relative;
  }

  .project-card__background-image {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .project-card__header {
    margin-block-start: 15vh;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 1.25rem;
  }

  .project-card__header > * + * {
    margin-block-start: 0.625rem;
  }

  @media (--md) {
    .project-card {
      display: flex;
      align-items: center;
    }

    .project-card__header {
      margin-block-start: 0;
      padding: 2.5rem;
    }

    .project-card__header--right {
      margin-inline-start: auto;
    }

    .project-card__header > * + * {
      margin-block-start: 0.9375rem;
    }
  }
</style>
